# Data Science Tools and Ecosystem
# H1: Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

# Some of the popular languages that Data Scientists use are:

In [14]:
languages = [
    "1. Python",
    "2. R",
    "3. SQL",
    "4. Java",
    "5. Julia",
    "6. Ruby"
]

for language in languages:
    print(language)

1. Python
2. R
3. SQL
4. Java
5. Julia
6. Ruby

# **Objectives**:

In [52]:
# List of popular languages for Data Science
languages = [
    "* Python",
    "* R",
    "* SQL",
    "* Java",
    "* PHP",
    "* Go"
]

for language in languages:
    print(language)

* Python
* R
* SQL
* Java
* PHP
* Go

# Some of the commonly used libraries used by Data Scientists include:

In [17]:
libraries = [
    "1. Pandas",
    "2. NumPy",
    "3. SciPy",
    "4. Matplotlib",
    "5. TensorFlow",
    "6. PyTorch"
]

for library in libraries:
    print(library)

1. Pandas
2. NumPy
3. SciPy
4. Matplotlib
5. TensorFlow
6. PyTorch

# Data Science Tools


| Data Science Tools |
|--------------------|
| MySQL              |
| Kubeflow           |
| GitHub             |

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [44]:
# This is a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [48]:
# This will convert 200 minutes to hours by dividing by 60

minutes = 200
hours = minutes / 60

# Display the result

print(f"{minutes} minutes = {hours} hours")

200 minutes = 3.3333333333333335 hours

In [ ]:
## H2: **Author**

## H2: **Authur**

Calvin Kwesi Gafrey